<!-- frp approach -->
<div class="container">
  <label>FRP</label>
  <input type="text" #autocomplete>
  <div *ngIf="frpAutocomplete?.filteredList | async as results" class="list">
    <span *ngFor="let result of results" (click)="setText(result)">{{result}}</span>
  </div>
</div>

<!-- state approach -->
<div class="container">
  <label>Pure Pipe</label>
  <input type="text" [(ngModel)]="text">
  <div *ngIf="countries | autocomplete:text as filteredCountries" class="list">
    <span *ngFor="let country of filteredCountries" (click)="text = country">{{country}}</span>
  </div>
</div>
