<nav>
  <a routerLink="unpredictable-order" routerLinkActive="active">Unpredictable Order</a>
  <a routerLink="missed-first-event" routerLinkActive="active">Missed First Event</a>
  <a routerLink="messy-state" routerLinkActive="active">Messy State</a>
  <a routerLink="threading-issues" routerLinkActive="active">Threading Issues</a>
  <a routerLink="leaking-callbacks" routerLinkActive="active">Leaking Callbacks</a>
  <a routerLink="accidental-recursion" routerLinkActive="active">Accidental Recursion</a>
  <a routerLink="drag-and-drop" routerLinkActive="active">Drag and Drop</a>
  <a routerLink="autocomplete" routerLinkActive="active">Autocomplete</a>
</nav>
<router-outlet></router-outlet>
